In [106]:
from sklearn import tree
import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC 
from sklearn.metrics import classification_report

In [2]:
dataset = pd.read_csv(os.path.join("Data","heart_failure_clinical_records_dataset 2.csv"))
dataset.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [3]:
target = dataset["DEATH_EVENT"]
target_names = ["False", "True"]

In [4]:
data = dataset.drop("DEATH_EVENT", axis=1)
feature_names = data.columns
data.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8

In [33]:
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [49]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.64

In [50]:
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.7466666666666667

In [51]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.3848158415520432, 'time'),
 (0.1562492116454898, 'serum_creatinine'),
 (0.10667766564696471, 'ejection_fraction'),
 (0.08930301641369805, 'age'),
 (0.07466899856967575, 'platelets'),
 (0.06899953715393066, 'creatinine_phosphokinase'),
 (0.06274526528970541, 'serum_sodium'),
 (0.01200159929042261, 'anaemia'),
 (0.011873050725134265, 'diabetes'),
 (0.011495128668274911, 'sex'),
 (0.01103555669000347, 'high_blood_pressure'),
 (0.01013512835465732, 'smoking')]

In [59]:
dataDrop = data.drop("ejection_fraction", axis=1)
data2= dataDrop.drop("serum_creatinine", axis= 1)
feature_names = data2.columns
data2.head()

,age,anaemia,creatinine_phosphokinase,diabetes,high_blood_pressure,platelets,serum_sodium,sex,smoking,time
0,75.0,0,582,0,1,265000.00,130,1,0,4
1,55.0,0,7861,0,0,263358.03,136,1,0,6
2,65.0,0,146,0,0,162000.00,129,1,1,7
3,50.0,1,111,0,0,210000.00,137,1,0,7
4,65.0,1,160,1,0,327000.00,116,0,0,8

In [60]:
X2_train, X2_test, y2_train, y2_test = train_test_split(data2, target, random_state=42)

In [61]:
clf2 = tree.DecisionTreeClassifier()
clf2 = clf2.fit(X2_train, y2_train)
clf2.score(X2_test, y2_test)

0.6933333333333334

In [62]:
rf2 = RandomForestClassifier(n_estimators=200)
rf2 = rf.fit(X2_train, y2_train)
rf2.score(X2_test, y2_test)

0.72

In [63]:
sorted(zip(rf2.feature_importances_, feature_names), reverse=True)

[(0.46680824832529055, 'time'),
 (0.12466811926070322, 'age'),
 (0.12049104825170126, 'platelets'),
 (0.10817124514497188, 'creatinine_phosphokinase'),
 (0.10360070386985597, 'serum_sodium'),
 (0.017734011153610115, 'anaemia'),
 (0.01587281666685229, 'diabetes'),
 (0.015761337399995037, 'high_blood_pressure'),
 (0.01403706892447717, 'sex'),
 (0.012855401002542486, 'smoking')]

In [92]:
classifier = LogisticRegression()
classifier
classifier.fit(X_train, y_train)
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.8303571428571429
Testing Data Score: 0.7866666666666666

In [93]:
predictions = classifier.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

     Prediction  Actual
281           0       0
265           0       0
164           0       1
9             1       1
77            0       0
..          ...     ...
126           0       1
228           0       0
283           0       0
255           0       0
158           0       0

[75 rows x 2 columns]

In [98]:
classifier2 = LogisticRegression()
classifier2
classifier2.fit(X2_train, y2_train)

LogisticRegression()

In [99]:
print(f"Training Data Score: {classifier2.score(X2_train, y2_train)}")
print(f"Testing Data Score: {classifier2.score(X2_test, y2_test)}")

Training Data Score: 0.8482142857142857
Testing Data Score: 0.7066666666666667

In [100]:
predictions2 = classifier2.predict(X2_test)
pd.DataFrame({"Prediction": predictions2, "Actual": y2_test})

     Prediction  Actual
281           0       0
265           0       0
164           0       1
9             1       1
77            0       0
..          ...     ...
126           0       1
228           0       0
283           0       0
255           0       0
158           1       0

[75 rows x 2 columns]

In [115]:
svc_model = SVC()
svc_model.fit(X_train, y_train)
print('Test Acc: %.3f' % svc_model.score(X_test, y_test))

Test Acc: 0.587

In [116]:
svc_predictions = svc_model.predict(X_test)
print(classification_report(y_test, svc_predictions,
                            target_names=target_names))

              precision    recall  f1-score   support

       False       0.59      1.00      0.74        44
        True       0.00      0.00      0.00        31

    accuracy                           0.59        75
   macro avg       0.29      0.50      0.37        75
weighted avg       0.34      0.59      0.43        75

/Users/ntarver/opt/anaconda3/envs/jupyterEnv/lib/python3.6/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))